.catalog {
  display: grid;
  gap: $catalog-gap;
  justify-content: center;

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $card-width;
    height: $card-height;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  @include catalog-grid(488px, 2);
  @include catalog-grid(768px, 3);
  @include catalog-grid(1024px, 4);
}
